* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(180, 180, 210) 0%, rgb(104, 107, 107) 100%);
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
    font-size: 12px
}

header {
    background: linear-gradient(90deg, rgb(55, 255, 255) 0%, rgb(26, 26, 235) 0%, rgb(104, 107, 107) 100%);
}

/* Se a tela estiver pelo menos 400px, carregará os seguintes estilos*/
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

/* breakpoint */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}

header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #CCCCCC;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;

}

.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu a {
    display: block;
    padding: 10px 20px;
    transition: 2s;
}

.menu a:hover {
    background-color: teal;
    color: whitesmoke;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.titulo {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;

    animation: 0.5s linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
    100% {
        transform: scale(1) translate(0);
        opacity: 1;
    }
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 4em;
    font-family: 'Gloria Hallelujah', cursive;
}

.site-subtitle {
    font-style: italic;
    line-height: 1.8em;
    font-family: 'Press Start 2P', cursive;
}

.modificador-h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    color: azure;
}

.sobre,
.contato,
.portfolio {
    padding: 2em;
    min-height: 100vh;
}

@media (min-width: 1200px) {

    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
}

.sobre h2,
.contato h2,
.portfolio h2 {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    margin-bottom: 2em;
}

.sobre p {
    color: white;
    margin-bottom: 1.4em;
    text-indent: 1.4em;
    text-align: justify;
}

.sobre a {
    color: white;
    text-decoration: underline;

}

.sobre a:hover {
    background-color: cyan;

}

.sobre .avatar {
    float: right;
    margin: left;
    
}

.sobre .avatar img {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.portfolio .grid {
    display: grid;
    gap: 2em;
}

@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px;
    }
}

@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 260px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 4em - 48px - 1.5em);
    }
}

.portfolio figure {
    text-align: center;
}

.img-portfolio {
    height: 200px;
    width: 240px;
    object-fit: cover;
    object-position: left bottom;
    transition: transform 500ms;
}

/* .img-portfolio:hover {
    transform: scale(1.2) rotate(15deg);

} */




/* @media (min-width: 1200px) {
    .img-portfolio {
        height: auto;
        width: 100%;
    }
} */

.card-front, .card-back {
    position: absolute;
}

.card {
    position: relative;
    background-color: red;
    transform-style: preserve-3d;
    transition: transform 1;
}

.card-back {
    background-color: white;
    height: 180px;
    width: 100%;
    transform: rotateY(180deg);
}





.contato a {
    color: whitesmoke;
    font-size: 3em;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(39, 126, 145, 0.5);
    transition: text-shadow 1s;
}